/* design by kasuta */
html {
    --bg-blue: #63ccff;
    --bg-teal: #4ebaaa;
    --bg-pink: #ff5c8d;
    --bg-orange: #ffeed0;
    --bg-indigo: #8e99f3;
    --text-blue: #005cb2;
    --text-teal: #005b4f;
    --text-pink: #a00037;
    --text-orange: #c25e00;
    --text-indigo: #26418f;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
}
.bg-teal {
    background-color: var(--bg-teal);
}
.bg-gray {
    background-color: var(--gray-200);
}
.bg-card {
    background-color: #e1f5fe;
}
.bg-orange {
    background-color: var(--bg-orange);
}
main.container-fluid {
    max-width: 960px;
}
.z-index-fix {
    z-index: 900;
}
body {
    overflow-x: hidden;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: #f5f5f5;
}
.content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.pointer:hover {
    cursor: pointer;
}

/* card column */
@media (min-width: 480px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 1024px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 1440px) {
    .card-columns {
        column-count: 4;
    }
}
/* @media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
} */
/* notes navbar */
.note-navbar input, .note-navbar select {
    max-width: 180px;
}
/**********************/
/*    Sidebar
/**********************/
#sidebar-wrapper {
    margin-left: -200px;
    position: sticky;
    top: 0;
    z-index: 1020;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper {
    min-width: 200px;
    width: 200px;
}

#page-content-wrapper {
    min-width: 100%;
}

#app.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #app.toggled #sidebar-wrapper {
        margin-left: -200px;
    }
}
#collapseCate {
    max-height: 300px;
    overflow: auto;
}
/**********************/
/*    Search form
/**********************/
.search-form {
    position: relative;
    height: 35px;
}
@media (max-width: 768px) {
    .search-form {
        width: 140px;
    }
}
.search-form input {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 20px;
    border: 1px solid #F4EEFB;
    background: #fff;
}
.search-form button {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 5px;
}
/**********************/
/*    Image
/**********************/
.thumb {
    max-width: 100%;
    max-height: 300px;
}
.avatar {
    width: 48px;
    height: 48px;
    /* overflow: hidden; */
}
.avatar-sm {
    width: 24px;
    height: 24px;
}
.avatar-lg {
    width: 80px;
    height: 80px;
}
.avatar img, .avatar-lg img, .avatar-sm img, .avatar-cover img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.img-cover {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}
.avatar-cover {
    margin-top: -75px;
    width: 150px;
    height: 150px;
}

/**********************/
/*    Table
/**********************/
.table-tool {
    text-align: right;
}

/**********************/
/*    Icon
/**********************/
.feather {
    display: inline-block;
    vertical-align: -.125em;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}
